<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

    <title>Formularios</title>
  </head>
  <body>
    

    <form method="POST" action=".....................">
        <h3>Este es un formulario</h3>

    <div>        
        <input type="Nombre y apellido" placeholder="Ingrese su nombre y apellido"value="Nombre y Apellido" >
    </div>  

    <div>
        <input type="Nombre de usuario" placeholder="Ingrese su nombre de usuario"value="Nombre de Usuario">
    </div>   

    <div>
        <input type="email" placeholder="Ingrese su email" value="Email del Usuario">
    </div>

    <div>
        <label>Fecha de nacimiento</label>
        <div>
        <input type="date" placeholder="Ingrese su fecha de nacimiento" value="Fecha de nacimiento">
        </div>
    </div>
    
    <div>
        <label>Domicilio</label>
        <div>
        <input type="text" placeholder="Ingrese su domicilio" value="domicilioDelUsuario">
        </div>
    </div>
    
    <div>
    <label>Perfil del usuario</label>
        <div>
        <input id="comprar" type="radio" name="comprar-vender" value="Comprar">
        <label for="comprar">Comprar</label>
        <input id="vender" type="radio" name="comprar-vender" value="Vender">
        <label for="vender">Vender</label>
        </div>
    </div>

    <div>
    <label>Intereses</label>
        <div>
        <input id="Intereses" type="checkbox" name="Intereses" value="Electro">
        <label for="Intereses">Electro</label>
        </div>

        <div>
        <input id="Intereses" type="checkbox" name="Intereses" value="Moda">
        <label for="Intereses">Moda</label>
        </div>

        <div>
        <input id="Intereses" type="checkbox" name="Intereses" value="Hogar">
        <label for="Intereses">Hogar</label>
        </div>
        
        <div>
        <input id="Intereses" type="checkbox" name="Intereses" value="Juguetería">
        <label for="Intereses">Juguetería</label>
        </div>
        
        <div>
        <input id="Intereses" type="checkbox" name="Intereses" value="Vida sana">
        <label for="Intereses">Vida sana</label>
        </div>

    </div>
    <div>
        <div>
        <label>Foto de Perfil</label>
        </div>

        <div>
        <input type="file" name="avatar" accept=".jpg" multiple>
        </div>
    </div>

    <div>
        <div>
        <input type="password" name="password" placeholder="Contraseña">
        </div>

        <div>
        <input type="password" name="password" placeholder="Confirme contraseña">
        </div>
    </div>

    <div>
        <button type="reset">Reset</button>
    </div> 

    </form>
            
  </body>
</html>