*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box; 
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
    margin-left: -14px;
    margin-top: -10px;
    margin-right: -20px;
}

header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 95%;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

main input{
    padding: 1% 18%;
    margin: 15px 5%;
    border: 1;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    height: max-content;
}   

main input{
    padding: 1% 18%;
    margin: 15px 5%;
    border: 1;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    height: max-content;
}

main button{
    background-color: #0069d9;
    border: 1;
    color: white;
    padding: 1% 38%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 5%;
    cursor: pointer;
    height: max-content;
}

@media (min-width: 481px) and (max-width: 768px){
    

}

@media (min-width: 769px){

    header div.logo{
        width: 350px;
    }
}